/**/

.events-notification {
    /*background-color: #fff;
    color: #000;*/
    position: absolute;
    top: 28px;
    /*font-size: 10px;*/
    font-weight: 600;
    height: 13px;
    line-height: 13px;
    padding: 0 4px;
    min-width: 13px;
    margin-left: 8px;
}

.animatedBtn {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
 } 
 
.buttonCTA {
    background-color: #fa0; 
    color: #000;
    font-weight: 600;
 }
 
.buttonCTA:active {
    background-color: #f50;
    color: #000;
    font-weight: 600;
 }
 
 .list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.auction-title {
  font-weight: 800;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 2px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 6px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #d11;
   color: #d11;
   background-color: #d11;
}
