/**/

.events-notification {
    /*background-color: #fff;
    color: #000;*/
    position: absolute;
    top: 28px;
    /*font-size: 10px;*/
    font-weight: 600;
    height: 13px;
    line-height: 13px;
    padding: 0 4px;
    min-width: 13px;
    margin-left: 8px;
}

/*.animatedBtn {
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
    
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
 }*/
 
.buttonCTA {
    background-color: #ffa500; 
    color: #000;
    font-weight: 600;
 }
 
.buttonCTA:active {
    background-color: #f50;
    color: #000;
    font-weight: 600;
 }
 
 /*.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}*/

.item-card {
    padding-left: 0px;
}

.card {
    margin-right: 10px;    
    margin-left: 10px;    
    padding: 10px;
    overflow: hidden;
}

.panelCTA {
    background-color: #ffa500; 
    color: #000;
    font-weight: 400;
 }
 
.thumbnail {
  width: 80px;
  height: 80px;
  /*border-radius: 4px;
  -webkit-border-radius: 4px;*/
}

.auction-title {
  font-weight: 800;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 2px;
}

.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.location {
  font-size: 14px;
  margin-bottom: 4px;
}

.phone {
  font-size: 14px;
  margin-bottom: 4px;
}

.desc {
  line-height: 1.2;
  font-size: 13px;
}

.current-info {
  font-weight: 400;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
  text-align:center;
}

.current-bid, .time-left, .time-left-warning, .time-left-hot, .leader, .leader-me {
    font-weight: 800;
    display: inline-block;
    padding: 3px;
}

.leader-me {
    border: solid 1px darkorange;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   color: #d11;
}

.width-transition {
    overflow: hidden;
    transition: max-width 1s cubic-bezier(0.0, 0.5, 0.5 ,1.0), flex-basis 1s cubic-bezier(0.0, 0.5, 0.5 ,1.0);
}

.preview {
    overflow: hidden;
    background-size: auto 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
