/**/
/*@import url("style-base.css");*/

/* Задаем цвет ссылок, потому что после клика на них (в телефоне и адресе) они меняют свой цвет плохо видны, особенно в темной теме */
a, a:visited {
    color: #00e !important;
}

/* Для Leaflet переопределяем цвета ссылок, т.к. он использует их для кнопок */
a.leaflet-control-zoom-in, a.leaflet-control-zoom-out, a:visited.leaflet-control-zoom-in, a:visited.leaflet-control-zoom-out {
    color: #d11 !important;
}


hr {
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #d11;
   color: #d11;
   background-color: #d11;
}

.current-bid {
    /*font-weight: 800;
    display: inline-block;*/
    color: #070;
}


.time-left{
    /*font-weight: 800;
    display: inline-block;*/
    color: #333;
}

.time-left-warning {
    /*font-weight: 800;
    display: inline-block;*/
    color: #ffa500;
}

.time-left-hot {
    /*font-weight: 800;
    display: inline-block;*/
    color: #c00;
    /*text-shadow: 2px 4px 10px #c00;*/
}


.card {
    /*margin-right: 10px;    
    margin-left: 10px;    
    padding: 10px;*/
    border: 1px solid #ccc;
    box-shadow: 2px 4px 10px 4px #ccc;
}