/**/
/*@import url("style-base.css");*/

hr {
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #a11;
   color: #a11;
   background-color: #a11;
}

.current-bid {
    font-weight: 800;
    color: #4c4;
}

.time-left {
    font-weight: 800;
    color: #c44;
}

.theme {
    color: #bbf;
}